<section class="block my-6">
    <div class="max-w-5xl m-auto">
      <div class="flex">
        <a  routerLink="/products/list" class="text-xl mb-6 block font-medium border border-gray-500 p-2 rounded-full mr-4">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="18" height="18" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <line x1="5" y1="12" x2="19" y2="12"></line>
            <line x1="5" y1="12" x2="11" y2="18"></line>
            <line x1="5" y1="12" x2="11" y2="6"></line>
         </svg>
        </a>
        <div class="text-xl mb-6 block font-medium">Add Product</div>
      </div>

        <form novalidate [formGroup] = "createProduct" (ngSubmit)="onSubmit(createProduct)">
    
        <div class="md:grid md:grid-cols-3 md:gap-6">          
            <div class="mt-5 md:mt-0 md:col-span-2">  
                
                    <div id="general" class="shadow overflow-hidden sm:rounded-md ">
                        <div class="px-4 py-5 bg-white sm:p-6">
                          <div class="grid grid-cols-6 gap-6">

                            <div class="col-span-6">
                              <label for="product-name" class="block text-sm font-medium text-gray-700">Product Name</label>
                              <input type="text"
                              formControlName="title"
                              name="title" id="product-name" autocomplete="given-name" 
                              class="bg-gray-100   mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-600 rounded-md p-2"
                              [class]="hasError('title')?'border-red-700 border-2':'' "
                              
                             
                              >
                              <div 
                              *ngIf="hasError('title')"
                              class="">
                                <div  *ngIf="title?.errors">
                                    <span class="text-sm pt-2 text-red-700" *ngIf="title?.errors?.['required']">Title is required fields</span>
                                </div>
                              </div>

                            </div>

                            <div class="col-span-6">
                                <label for="company-website" class="block text-sm font-medium text-gray-700">
                                  Slug
                                </label>
                                <div class="mt-1 flex rounded-md shadow-sm">
                                  <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm p-2"
                                  [class]="hasError('slug')?'border-red-700 border-2':'' " >
                                    http://example.com/
                                  </span>
                                  <input type="text" name="company-website" id="company-website" class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm  border border-gray-300 p-2 bg-gray-100 w-full"
                                  [class]="hasError('slug')?'border-red-700 border-l-0  border-2':'' " placeholder="product-name-1" spellcheck="false" data-ms-editor="true"
                                  formControlName="slug" >
                                </div>
                                <div 
                                *ngIf="hasError('slug')"
                                class="">
                                  <div  *ngIf="slug?.errors">
                                      <span class="text-sm pt-2 text-red-700" *ngIf="slug?.errors?.['required']">Slug is required</span>
                                      <span class="text-sm pt-2 text-red-700" *ngIf="slug?.errors?.['pattern']">Slug is not valid</span>
                                  </div>
                                </div>
                              </div>

                            <div class="col-span-6">
                                <label for="product-detail" class="block text-sm font-medium text-gray-700">Product Detail</label>
                                <textarea
                                rows="10"
                                formControlName="detail"
                                name="detail" id="product-name" autocomplete="given-name" class="bg-gray-100   mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-600 rounded-md p-2"></textarea>
                            </div>
              
                            
              
                      
                         
                          </div>
                        </div>
                        
                    </div>

                    <div id="media" class="shadow overflow-hidden sm:rounded-md mt-10">
                        <div class="px-4 py-5 bg-white sm:p-6">
                        <label for="product-name" class="block text-sm font-medium text-gray-700 mb-4">Image</label>
                        <div class="justify-center">
                            <div class="mb-3 w-full">     
                              <input class="w-full rounded p-2 border" id="formImage" hidden type="text"  
                              *ngIf="uploadedImage"
                              [value]="imageDispaly()"
                              formControlName="image">                         
                              <input class="w-full rounded" id="formFileLg" type="file" 
                              (change)="upLoadFiletoSvr($event)" />

                              <img [src]="imageDispaly()"
                              *ngIf="uploadedImage"
                              class="image--background" >
                            </div>
                          </div>
                          </div>
                    </div>

                  
                    <div id="product-pricing" class="shadow overflow-hidden sm:rounded-md mt-10">
                      <div class="px-4 py-5 bg-white sm:p-6 border-b border-gray-100">
                        <label for="product-name" class="block text-sm font-medium text-gray-700 mb-4">Stock</label>
                        <div class="mb-3 w-full"> 
                          <label for="product-name" class="block text-xs text-gray-700 mb-2">In Stock</label>    
                          
                          <select id="product-status" name="instock" class="bg-gray-100 mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm  p-2"
                          formControlName="inStock">
                            <option value="1" selected>Yes</option>
                            <option value="2">No</option>                    
                          </select>                        
                          <span class="text-gray-600 text-xs">Is Product is in stock or not</span>
                        </div>                   
                      
                      

                      <div class="mb-3 w-full"> 
                        <label for="product-name" class="block text-xs text-gray-700 mb-2">Uint</label>                              
                        <input class="w-full rounded p-2 border" placeholder="Product Unit" id="formFileLg" type="input"  formControlName="unit">
                      </div>
                    </div>                    
                  </div>

                  <div id="product-pricing" class="shadow overflow-hidden sm:rounded-md mt-10">
                      <div class="px-4 py-5 bg-white sm:p-6 border-b border-gray-100">
                      <label for="product-name" class="block text-sm font-medium text-gray-700 mb-4">Pricing</label>
                     
                      <div class="justify-center flex ">
                          <div class="mb-3 w-1/2 mr-4">   
                            <label for="product-name" class="block text-xs text-gray-700 mb-2">Price</label>                           
                            <input
                            [class]="hasError('price')?'border-red-700 border-2':'' "
                            class="w-full rounded p-2 border " placeholder="Price" id="formFileLg" type="input"  formControlName="price">

                            <div 
                                *ngIf="hasError('price')"
                                class="">
                                  <div  *ngIf="slug?.errors">
                                      <span class="text-sm pt-2 text-red-700" *ngIf="slug?.errors?.['required']">price is required</span>
                                      <span class="text-sm pt-2 text-red-700" *ngIf="slug?.errors?.['pattern']">Slug is not Number</span>
                                  </div>
                                </div>

                          </div>
                          <div class="mb-3 w-1/2"> 
                            <label for="product-name" class="block text-xs text-gray-700 mb-2">Compare at price</label>                              
                            <input class="w-full rounded p-2 border" placeholder="Compare at price" id="formFileLg" type="input"  formControlName="comparePrice">
                          </div>                          
                      </div>
                        </div>
                        <div class="px-4 py-5 bg-white sm:p-6 border-b border-gray-100">
                          <div class="mb-3 w-full"> 
                            <label for="product-name" class="block text-xs text-gray-700 mb-2">Cost per item</label>                              
                            <input class="w-full rounded p-2 border" placeholder="Cost per item" id="formFileLg" type="input"  formControlName="costPeritem">
                            <span class="text-gray-600 text-xs">Customers won’t see this price.</span>
                          </div>  
                        </div>                        
                  </div>

                    <div id="meta-seo" class="shadow overflow-hidden sm:rounded-md mt-10">
                      <div class="px-4 py-5 bg-white sm:p-6">
                      <label for="product-name" class="block text-sm font-medium text-gray-700 mb-4">SEO</label>
                      <div class="justify-center">
                          <div class="mb-3 w-full">                              
                            <input class="w-full rounded p-2 border" placeholder="SEO Title" id="formFileLg" type="input"  formControlName="seoTitle">
                          </div>
                          <div class="mb-3 w-full">                              
                              <textarea class="w-full rounded p-2 border" placeholder="SEO Detail" id="formFileLg" type="input"  formControlName="seoDescription">
                              </textarea>
                            </div>
                      </div>
                        </div>
                  </div>


               
            </div>

            <div class="md:col-span-1">
              <div class="shadow overflow-hidden sm:rounded-md bg-white">
                <div class="cursor-pointer block p-4 border-b border-gray-100">
                  <span class="text mb-4 block font-medium font-weight">Product Status</span>

                  <select id="product-status" name="status" class="bg-gray-100 mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm  p-2"
                  formControlName="status">
                  <option value="0">Draft</option>
                  <option value="1">Published</option>                    
                  </select>

                </div>

                <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                  <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500">Published</button>
                </div>
                   <!-- <ul class="">
                       <li><a (click)="scrollTo('general')"  class="cursor-pointer block p-4 border-b border-gray-100">General</a></li>
                       <li><a (click)="scrollTo('media')" class="cursor-pointer block p-4 border-b border-gray-100">Media</a></li>
                       <li><a (click)="scrollTo('meta-tags')" class="cursor-pointer block p-4 border-b border-gray-100">Category and Tags</a></li>
                       <li><a  (click)="scrollTo('meta-seo')" class="cursor-pointer block p-4 border-b border-gray-100">SEO</a></li>                       
                   </ul> -->
              </div>

              <div id="meta-tags" class="shadow overflow-hidden sm:rounded-md mt-10">
                <div class="px-4 py-5 bg-white sm:p-6 border-b border-gray-200">
                <label for="product-name" class="block text-sm font-medium text-gray-700 mb-2">Category</label>
                <div class="justify-center">
                    <div class="mb-3 w-full">                              
                      <input 
                      class="w-full rounded p-2 border"
                      [class]="hasError('category')?'border-red-700 border-2':'' "
                    
                      id="formFileLg" type="input"  
                      formControlName="category">
                      <div 
                                *ngIf="hasError('category')"
                                class="">
                                  <div  *ngIf="slug?.errors">
                                      <span class="text-sm pt-2 text-red-700" *ngIf="slug?.errors?.['required']">Category is required</span>                                     
                                  </div>
                                </div>
                      <span class="text-xs mt-2 block text-gray-500">Add product to category so it will be easy to find in your store</span>
                    </div>
                  </div>
                </div>
                <div class="px-4 py-5 bg-white sm:p-6">
                  <label for="product-name" class="block text-sm font-medium text-gray-700 mb-1">Tags</label>
                  <a class="text-xs mb-2 block text-blue-600" href="#">view all tags</a>
                  <div class="justify-center">
                      <div class="mb-3 w-full">                              
                        <input class="w-full rounded p-2 border"
                        [class]="hasError('tag')?'border-red-700 border-2':'' "
                        id="formFileLg" type="input"  formControlName="tag">
                        <div 
                        *ngIf="hasError('tag')"
                        class="">
                          <div  *ngIf="slug?.errors">
                              <span class="text-sm pt-2 text-red-700" *ngIf="slug?.errors?.['required']">Tag is required</span>                                     
                          </div>
                        </div>
                        <span class="text-xs mt-2 block text-gray-500">Add tags to product so it will be easy to find in your store</span>
                      </div>
                    </div>
                  </div>
            </div>

           </div>
           
        </div>
        <input class="hidden"
        id="formFileLg" type="input"  formControlName="tag" 
        *ngIf="productId" 
        [value]="productId"
        >
      </form>

    </div>
</section>
