<nav class="bg-emerald-900 sticky top-0 z-50">
    <div class="container px-4 mx-auto max-w-6xl">
        <div  class="flex justify-between items-center">
            <a class="text-white text-3xl leading-none py-4 font-bold"  routerLink="/">
                KITCHEN STORY
            </a>

            <ul class="hidden lg:flex lg:mx-auto lg:items-center lg:w-auto">
              
                <li class="relative" *ngIf="authService.roleMatch('admin')" (click)="showDropdownAdmin()">
                    <a class="cursor-pointer text-base p-5 text-white uppercase hover:text-white hover:bg-green-700 border-r border-l border-emerald-800"   >Admin</a>

                    <div *ngIf="showDropdown" class="origin-top-right absolute right-0 mt-6 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                        <div class="py-1" role="none">
                          <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                          <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0" routerLink="/products/list">Product</a>
                          <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1"  routerLink="/users/list">User</a>
                          <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Order</a>                          
                        </div>
                      </div>
                </li>
            </ul>

            <div class="hidden lg:flex">
                <input placeholder="Search for your items" class="inline-block px-4 py-3 text-sm text-gray-500 placeholder-gray-500 font-semibold border border-gray-100 border-r-0 rounded-full rounded-r outline-none" spellcheck="false" data-ms-editor="true" [(ngModel)]="searchTerm" (keyup)="search($event)" type="text" >
                <button class="px-2 rounded-l rounded-full border border-l-0 border-gray-100 bg-white"><svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" class="text-black w-6 h-6 rounded-l"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg></button>
            </div>

            <ul class="hidden lg:flex lg:mx-auto lg:items-center lg:w-auto lg:space-x-10">
                <li>
                    <a class="text-sm text-gray-500 hover:text-gray-700 text-white" routerLink="cart">
                        <span class="relative inline-block">
                            <svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6 text-gray-700 fill-current"><path  stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle  cx="6" cy="19" r="2"></circle><circle  cx="17" cy="19" r="2"></circle><path  d="M17 17h-11v-14h-2"></path><path  d="M6 5l14 1l-1 7h-13"></path></svg>
                        <span class="absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-black transform translate-x-1/2 -translate-y-1/2 bg-white rounded-full">{{totalItem}}</span>
                        </span>
                    </a>
                    <a class="text-sm text-gray-500 hover:text-gray-700 text-white ml-4 mt-4" routerLink="login">
                        <span class="relative inline-block">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">                              
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                             </svg>                      
                        </span>
                    </a>
                    <button *ngIf="! isLoggedIn()" type="button" class="cursor-pointer text-base p-5 text-white uppercase hover:text-white hover:bg-green-700 border-r border-l border-emerald-800 ml-5 w-[100px]" routerLink="/login">Login</button>
                    <button *ngIf="isLoggedIn()" type="button" class="cursor-pointer text-base p-5 text-white uppercase hover:text-white hover:bg-green-700 border-r border-l border-emerald-800 ml-5  w-[100px]" (click)="logout()" >Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

        
           