<section
class="h-screen bg-center bg-no-repeat bg-cover bg-gradient-to-r from-green-700 to-yellow-100 font-poppins dark:bg-gradient-to-r dark:from-gray-600 dark:to-gray-500">
<div class="flex items-center h-full lg:h-screen">
    <div class="justify-center max-w-6xl px-2 mx-auto text-center ">
        <div class="w-full p-4 bg-white lg:p-16 dark:bg-gray-700">
            <h1 class="inline-block mb-8 font-bold text-gray-700 text-7xl lg:text-9xl dark:text-gray-300"> 404
            </h1>
            <h2 class="mb-6 text-2xl font-semibold text-gray-600 lg:text-4xl dark:text-gray-300">
                Oops! Page not found</h2>
            <p class="mb-8 text-xs text-gray-600 lg:text-xl dark:text-gray-300">
                Sorry! The requested page not found.You might try a search below...
            </p>
            <div class="mb-8">
                <div class="flex px-6 py-2 border border-gray-700 rounded-md dark:border-gray-400">
                    <input type="text"
                        class="w-full pr-4 text-sm text-gray-700 bg-white dark:text-gray-400 dark:bg-gray-700 placeholder-text-100 "
                        placeholder="search...">
                    <button
                        class="flex items-center text-gray-700 dark:text-gray-400 dark:hover:text-blue-300 hover:text-yellow-700">
                        <span class="mr-2 text-xs ">Go</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="flex flex-wrap items-center justify-center">
                <a href="#"
                    class="px-8 py-4 text-xs font-medium text-gray-100 uppercase bg-green-700 rounded-full lg:text-base dark:bg-green-800 dark:hover:bg-green-900 hover:bg-green-800 md:w-auto ">
                    Back to home
                </a>
            </div>
        </div>
    </div>
</div>
</section>